.image-wrapper {
    width: 100%x;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .two-column {
    display: flex;
    flex-direction: row;
  }
  
  .two-column>*:nth-child(1) {
    flex: 1;
  }
  
  .two-column>*:nth-child(2) {
    flex: 2;
  }

  img {
    float: left;
  }

  .left-margin {
    margin-left: 300px;
  }

  .spaced-paragraph {
    line-height: 1.5; /* Adjust the value as needed, 1.6 is a common value for readability */
}