.image-wrapper {
  width: 100%;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.two-column {
  display: flex;
  flex-direction: row;
}

.two-column>*:nth-child(1) {
  flex: 1 1 0;
}

.two-column>*:nth-child(2) {
  flex: 2 1 0;
}

img {
  float: left;
}

.left-margin {
  margin-left: 300px;
}

.header {
  display: flex;
  align-items: flex-end; /* Align items based on the bottom edge */
  width: 100%;
  box-sizing: border-box;
}

.header h1 {
  margin: 0;
  padding: 10px;
}

nav {
  margin-left: auto; /* Pushes the nav to the right */
  margin-right: 10px;
}

nav a {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherits the color of the heading */
  padding: 10px; /* Adds padding for clickable area */
  display: inline-block; /* Ensures padding affects layout */
  color: rgb(78, 78, 78); /* Changes color on hover */
}

nav a:hover {
  color: black; /* Changes color on hover */
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  gap: 10px;
  padding: 0 0px;
  height: auto;
  width: 100%
}

.container a {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherit color from parent element */
  display: block; /* Make anchor tag a block element to ensure it covers the entire .item */
}

.item {
  background-color: #ffb62d;
  padding: 0;
  border-radius: 5px;
  color: black;
  width: 100%; /* Full width of the container */
  height: 200px; /* Set fixed height */
  display: flex;
  overflow: hidden; /* Hide overflow */
  transition: transform 0.3s;
}

.item img {
  flex: 0 0 30%; /* Image takes 30% of the width */
  height: 100%; /* Fill the height of the item */
  object-fit: fill; /* Cover the area while maintaining aspect ratio */
  width: 100%; /* Ensure the image stretches to fill its container width */
}

.item:hover {
  transform: scale(1.01); /* Slightly enlarge the item on hover */
}

.text-context h1, .text-context h2, .text-context p {
  margin: 10; /* Remove default margins */
  padding: 10; /* Remove default padding */
  line-height: 1.5;
}

.text-content {
  flex: 1; /* Text content takes the remaining 70% of the width */
  display: flex;
  flex-direction: column; /* Stack headings and paragraphs vertically */
  justify-content: center; /* Center content vertically */
  padding: 20px; /* Add padding around text content */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}